= render "shared/header"
.header
%main.mypage-main
  .mypage-content
    .logout
      .logout__button ログアウト
    = render 'shared/sell_btn'
  = render 'shared/mypage_sidebar'
=render "shared/banner"
=render "shared/footer"
