.footer__agreement
  .footer__agreementwapper
    %a{:href => "/"} プライバシーポリシー
    %a{:href => "/"} メルカリ利用規約
    %a{:href => "/"} 特定商取引に関する表記
.footer__agreement--logo
  %a{:href => "/"}
    = image_tag 'mercari-icon.png', size: "105x74"
.copy__right
  © 2019 Mercari

