.footer-sell-button{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-color: red;
  position: fixed;
  bottom: 25px;
  right: 25px;

  &__letter{
    text-align: center;
    color: white;
    font-size: 25px;
    margin: 30px 0 0 0;
  }

  &__icon{
    color: white;
    font-size: 60px;
    margin: 0 50px;
  }

}
