footer {
  background-color: #212121;
  color: #FFF;
  display: block;
  margin: auto;
  padding: 0 20px 10px 20px;
  width: 100vw;
}
.footer__top {
  display: block;
  box-sizing: inherit;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}
.footer__top-cell {
  display: block;
  float: left;
  margin-top: 18px;
  padding: 0 10px 0 0;
  width: 48%;
}
.footer__top-cell.width-expantion {
  margin-top: 18px;
  padding: 0 40px 0 0;
  width: 100%;
}
.cell__head {
  color: #FFF;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.4;
}
.inner {
  float: left;
  padding: 0 10px 0 0;
  vertical-align: top;
  width: 45%;
}
.footer__lang {
  margin-top: 18px;
  padding: 0px;
  width: auto;
}
.footer__lang li {
  display: inline-block;
  padding-right: 30px;
}
li {
  list-style: none;
  margin: 16px 0 0;
}
a {
  color: #fff;
  display: block;
  font-size: 12px;
  opacity: 0.7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.footer__top-icon {
  display: inline-block;
  line-height: 1.5em;
  list-style: none;
  margin-top: 14px;
  text-align: left;
}
.fab {
  font-size: 30px;
  margin: 16px 18px 0 0;
}
.footer__bottom {
  box-sizing: inherit;
  margin: 30px auto 20px;
  padding: 0;
  width: 700px;
}
.footer__logo {
  display: inline-block;
  margin-right: 10px;
  width: auto;
}
.copy__right {
  display: inline-block;
  font-size: 10px;
  text-align: center;
}
img {
  vertical-align: middle;
}
