* {
  box-sizing: border-box;
}

.header{
  height: 100px;
  width: 100vw;
  background-color: white;

  &__top{
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 50px;

    &--right{
      margin-top: 20px;
    }
  }

  &__bottom{
    width: 90%;
    display: flex;
    margin-left: 6.5%;
    align-items: center;
    background-color: white;
    height: 50px;
    left: 30px;

    &--left{
      display: flex;
      position: relative;
    }

    &--right{
      display: flex;
      margin-left: 380px;
    }
  }
}

.product-search{
  width: 780px;
  height: 40px;
  margin: 0 0 15px 15px;
}

.header-mercari-icon{
  vertical-align: middle;
}

.sign_in_btn {
  background-color: #ff0000;
  border-radius: 5px;
  border: solid 2px #ff0000;
  color: #ffffff;
  font-size: 12px;
  height: 32px;
  text-align: center;
  padding: 10px;
  width: 110px;
}

.new_user_btn {
  border-radius: 5px;
  border: solid 2px #1e90ff;
  color: #1e90ff;
  font-size: 12px;
  height: 32px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  width: 100px;
}
.new_user_btn:hover {
  background: #1e90ff;
  color: #ffffff;
}
.search-icon{
  height: 20px;
  width: 20px;
  position: relative;
  right: 40px;
}
.fa-list.header__bottom--left--itemcategory-list, .header__bottom--left--itemcategory-brand{
  color: #dc143c;
}
#category, #bland {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px 0px 0px 15px;
}
#category li, #bland li {
  display: inline-block;
  display: flex;
  list-style-type: none;
  position: relative;
  width: 160px;
}
#category a, #bland a {
  color: #000000;
  display: block;
  font-weight: bold;
  text-decoration: none;
}
#category ul{
  background-color: #ffffff;
  display:none;
  margin: 0px;
  margin-top: 15px;
  padding: 0px;
  position: absolute;
  width: 250px;
}

#bland ul {
  background-color: #ffffff;
  display:none;
  margin: 15px 0 0 30px;
  padding: 0px;
  position: absolute;
  width: 250px;
}
#category ul li, #bland ul li {
  width: 250px;
}
#category ul li a, #bland ul li a {
  font-weight: normal;
  padding-left: 5px;
  text-align: left;
}
#category ul ul, #bland ul ul {
  display: none;
  left: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: -1px;
}
#category li a:hover, #bland li a:hover {
  color: #1e90ff;
}
#category ul li ul li a:hover, #bland ul li ul li a:hover {
  background-color: #dcdcdc;
  color: #000000;
}
#category ul li a:hover, #bland ul li a:hover {
  background-color: #dc143c;
  color: #ffffff;
}
.picslide{
  padding: 50px 0;
}
#slider{
  margin: 0 auto;
  img{
    width: 100%;
  }
}
